apiVersion: v1
kind: Service
metadata:
  name: {{ include "zen-watcher.fullname" . }}
  namespace: {{ include "zen-watcher.namespace" . }}
  labels:
    {{- include "zen-watcher.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- range $key, $value := . }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "zen-watcher.selectorLabels" . | nindent 4 }}


