{{- if .Values.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "zen-watcher.fullname" . }}
  namespace: {{ include "zen-watcher.namespace" . }}
  labels:
    {{- include "zen-watcher.labels" . | nindent 4 }}
spec:
  {{- with .Values.podDisruptionBudget.minAvailable }}
  minAvailable: {{ . }}
  {{- end }}
  {{- with .Values.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ . }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "zen-watcher.selectorLabels" . | nindent 6 }}
{{- end }}


