apiVersion: v1
kind: Service
metadata:
  name: {{ include "zen-watcher.fullname" . }}
  namespace: {{ include "zen-watcher.namespace" . }}
  labels:
    {{- include "zen-watcher.labels" . | nindent 4 }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "{{ .Values.service.port }}"
    prometheus.io/path: "/metrics"
    {{- with .Values.service.annotations }}
    {{- range $key, $value := . }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "zen-watcher.selectorLabels" . | nindent 4 }}


