apiVersion: v1
kind: Secret
metadata:
  name: zen-agent-secrets
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: zen-agent
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
stringData:
  bootstrap-token: {{ .Values.saas.clusterToken | quote }}
  cluster-id: {{ .Values.cluster.id | quote }}
  tenant-id: {{ .Values.tenant.id | quote }}
