apiVersion: v1
kind: Secret
metadata:
  name: zen-agent-secret
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: zen-agent
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
stringData:
  clusterToken: {{ .Values.saas.clusterToken | quote }}
  tenantId: {{ .Values.tenant.id | quote }}
  clusterId: {{ .Values.cluster.id | quote }}
